.container {
    max-width: 1024px;
    font-family: "Fira Sans", Arial, sans-serif;
}

header {
    height: 400px;
    background: url("../img/header-photo.jpg");
    color: #ffffff;
}

.white_stripe {
    height: 75px;
    background: rgba(255, 255, 255, 0.1);
    padding: 0 30px;
}

.logo {
    width: 30%;
}

.main_logo {
    font-weight: 700;
    font-size: 34pt;
    font-variant: small-caps;
    line-height: 40pt;
}

.lesser_logo {
    font-size: 18pt;
    margin-top: -26px;
}

nav {
    width: 70%;
    float: right;
    margin-top: -80px;
}

.navigation {
    /*list-style: none;*/
    font-size: 22pt;
    font-weight: 700;
    font-variant: small-caps;
    text-align: right;
    margin-top: 10px;
}

.navigation > li {
    display: inline-block;
    padding-right: 30px;
}

.navigation li:last-child {
    padding-right: 0;
}

.navigation > li > a {
    color: #fff;
}

.navigation > li > a:hover {
    text-decoration: none;
}

.submenu {
    display: inline-block;
    position: absolute;
    width: 125px;
    height: 90px;
    background: rgba(255, 255, 255, 0.5);
    margin-top: 63px;
    margin-left: -100px;
    padding: 0;
    font-size: 12pt;
    font-variant: normal;
    font-weight: 400;
    list-style: none;

    top: -1000px;
}

.articles:hover .submenu {
    top: 0;
    margin-top: 55px;
}

.submenu > li {
    margin-top: 5px;
}

.submenu a {
    color: #000000;
}

.submenu a:hover {
    color: #5b4a26;
    text-decoration: none;
}

.submenu .submenu_active {
    color: #5b4a26;
}

/*  ак сделать ::after размером с родительский блок? */
/*.navigation > li::after {*/
    /*content: "";*/
    /*/!*text-align: right;*!/*/
    /*/!*display: inline-block;*!/*/
    /*line-height: 100px;*/
    /*/!*right: 100px;*!/*/
    /*position: absolute;*/
    /*/!*left: 100%;*!/*/
    /*/!*float: right;*!/*/
    /*/!*width: inherit;*!/*/
    /*margin-top: 40px;*/
    /*margin-left: -50px;*/
    /*height: 3px;*/
    /*background: #ffffff;*/
/*}*/

.menu_line {
    height: 3px;
    width: 0;
    transition: width 1s;
    background: #ffffff;
}

.navigation > li:hover .menu_line {
    width: 100%;
}

.active .menu_line {
    width: 100%;
}